body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 40px 10%;
}

.control-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

input[type="range"] {
    width: 80%;
    margin: 10px 0;
}

.flag {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
    height: 300px;
}

.stripe {
    width: 33.33%;
    height: 100%;
}

.green {
    background-color: #008000;
}

.white {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white img {
    width: 120px;
}

.red {
    background-color: #800000;
}
    